{% extends 'base2.html.twig' %}


{% block body %}
    <style>
        .comment_box {
            background-color:lightgray;
            width:700px;
            color:darkgreen;
            height:500px;
            position:relative;
            margin-left:70px;
        }
        .submit {
            background-color:darkgreen;
            color:white;
            width:200px;
            height:50px;
            font-size:15px;
            border-radius:8px;
            text-align:center;
            line-height:50px;
            margin-bottom:20px;
            position:absolute;
            right:70px;
        }
        .text {
            margin:30px auto 0 auto;
            text-align:center;
        }
        textarea {
            border-radius:5px;
            padding:20px;
            font-size:20px;
        }
        h2 i {
            margin-left:70px;
            padding-top:40px;
        }
        .submit i {
            margin-right:10px;
        }
        .submit p::before {
            content:url[https://fontawesome.com/icons/paper-plane?style=solid];
            font-size:1000px;
        }
        .submit:hover {
            cursor:pointer;
            background-color:black;
        }
        .comment_box p {
            margin-top:0;
            color:darkgreen;
            margin-left:70px;
            padding:0;
            color:darkgreen;
            font-size:15px;
        }
        input {
            margin-left:70px;
            width:700px;
            height:30px;
            line-height:20px;
            border:3px solid lightgray;
            border-radius:3px;
            margin-top:50px;
            padding-left:15px;
            font-size:15px;
        }
        ::placeholder {
            color: lightgray;
        }
        .box {
             width:800px;
             margin-left:70px;
             margin-bottom:50px;
         }
        h2 {
            margin-top:50px;
            margin-bottom:0;
            font-size:30px;
            width:700px;
        }
        .box p {
            display:inline-block;
            color:darkgray;
        }
        input {
            background-color: black;
        }
        .comment_detail {
            float:left;
            margin-left:70px;
            font-size:15px;
            line-height:15px;
            width:300px;
        }
        .comment_content {
            float:left;
        }
        .comment_detail p {
            margin:3px 0 0 0;
        }
        .show_comments {
            display:block;
            width:1000px;
            min-height:50px;
            margin-top:30px;
        }
    </style>

    {% for item in result %}
        <div class="box">
            <h2>{{ item.title }}</h2>
            <p><i class="fas fa-calendar-alt"></i>{{ item.date }}</p>
            <p><i class="fas fa-user"></i>{{ item.author }}</p>
            <div class="content">{{ item.content }}</div>
        </div>
    {% endfor %}
    <div class="comment_box">
        {{ form_start(form) }}
        <h2>
            <i class="fas fa-comment"></i>コメントを追加
        </h2>
        <div class="text">
            {{ form_widget(form.content, {'attr':{'class':'text', 'cols':'50', 'rows':'10'}}) }}
        </div>
        <p>Comments not complying with our Code of Conduct will be moderated.</p>
        <div class="submit">
            {{ form_widget(form.save, {'attr':{'class':'submit', 'value':'コメントを投稿'}}) }}
            <i class="fas fa-paper-plane"></i>コメントを投稿
        </div>
        {{ form_end(form) }}
    </div>

    <h2><i class="fas fa-comments"></i>コメント</h2>
    {% for item in comment %}
        <div class="show_comments">
            <div class="comment_detail">
                <p>{{ item.article.author }}</p>
                <p>コメント投稿日時</p>
                <p>{{ item.article.date }}</p>
            </div>
            <div class="comment_content">
                {{ item.content }}
            </div>
        </div>
    {% endfor %}
{% endblock %}