{% macro label(type, name, value) %}
<tr>
    <th>{{ name }}</th>
    <td><input type="{{ type }}" name="{{ name }}" value="{{ value }}"></td>
</tr>
{% endmacro %}

{% macro submit(value) %}
<tr>
    <th></th>
    <td><input type="submit" value="{{ value }}"></td>
</tr>
{% endmacro %}

{% macro article(title, date, author, content, id) %}
<style>
    .box {
        width:800px;
        margin-left:70px;
        margin-bottom:50px;
    }
    h2 {
        color:lightseagreen;
        margin-bottom:0;
    }
    h2:hover {
        cursor:pointer;
        text-decoration:underline;
    }
    p {
        display:inline-block;
        color:darkgray;
    }
</style>
<div class="box">
    <a href="http://127.0.0.1:8000/blog/posts/{{ id }}"><h2>{{ title }}</h2></a>
    <p><i class="fas fa-calendar-alt"></i>{{ date }}</p>
    <p><i class="fas fa-user"></i>{{ author }}</p>
    <div class="content">{{ content }}</div>
</div>
{% endmacro %}

{% macro pager(total, max, page_number) %}
    <style>
        .page {
            background-color: darkseagreen;
            color:white;
            display:inline-block;
            width:50px;
            height:50px;
            margin:0px;
            text-align:center;
            line-height:50px;
            padding:0px;
        }
        .pagebox{
            margin:0 0 0 300px;
            padding:0;
        }
        .page:hover {
            cursor:pointer;
            background-color:darkgreen;
        }
    </style>
<div class="pagebox">
    {% if page_number>1 %}
        <a href="http://127.0.0.1:8000/blog/page/{{ page_number-1 }}"><div class="page">前へ</div></a>
    {% else %}
        <div class="page">前へ</div>
    {% endif %}
    {% for i in 1.. total/max+total%max %}
        <a href="http://127.0.0.1:8000/blog/page/{{ i }}"><div class="page">{{ i }}</div></a>
    {% endfor %}
    {% if page_number<total/max %}
        <a href="http://127.0.0.1:8000/blog/page/{{ page_number+1 }}"><div class="page">後へ</div></a>
    {% else %}
        <div class="page">後へ</div>
    {% endif %}
</div>
{% endmacro %}

{% macro show_article(title, date, author, content, id) %}
    <style>
        .box {
            width:800px;
            margin-left:70px;
            margin-bottom:50px;
        }
        h2 {
            margin-top:50px;
            margin-bottom:0;
            font-size:30px;
            width:700px;
        }
        p {
            display:inline-block;
            color:darkgray;
        }
    </style>
    <div class="box">
        <h2>{{ title }}</h2>
        <p><i class="fas fa-calendar-alt"></i>{{ date }}</p>
        <p><i class="fas fa-user"></i>{{ author }}</p>
        <div class="content">{{ content }}</div>
    </div>
{% endmacro %}

{% macro comment_form() %}
<style>
    .comment_box {
        background-color:lightgray;
        width:700px;
        color:darkgreen;
        height:500px;
        position:relative;
        margin-left:70px;
    }
    .submit {
        background-color:darkgreen;
        color:white;
        width:200px;
        height:50px;
        border-radius:5px;
        text-align:center;
        line-height:50px;
        margin-bottom:20px;
        position:absolute;
        right:70px;
    }
    .text {
        margin:30px auto 0 auto;
        text-align:center;
    }
    textarea {
        border-radius:5px;
        padding:20px;
        font-size:20px;
    }
    h2 i {
        margin-left:70px;
        padding-top:40px;
    }
    .submit i {
        margin-right:10px;
    }
    .submit:hover {
        cursor:pointer;
        background-color:black;
    }
    .comment_box p {
        margin-top:0;
        color:darkgreen;
        margin-left:70px;
        padding:0;
        color:darkgreen;
        font-size:15px;
    }
</style>
<div class="comment_box">
    <h2>
        <i class="fas fa-comment"></i>コメントを追加
    </h2>
    <div class="text">
        <textarea name="comment" cols="50" rows=10"></textarea>
    </div>
    <p>Comments not complying with our Code of Conduct will be moderated.</p>
    <div class="submit">
        <i class="fas fa-paper-plane"></i>コメントを投稿
    </div>
</div>
{% endmacro %}